* {
  padding: 0px;
  margin: 0px;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-size: cover;
  background-image: url(/src/Portfolio/assets/images/background/bg-6.jpg);
  /* background-color: #0df0e571; */
  /* background-repeat: no-repeat; */
  /* animation: changeBackground 10s infinite; */
}
ul {
  list-style: none;
}
.main-header {
  display: flex;
  padding: 15px 20px;
  /* background-image:url(/assets/images/background/Nat2.jpg); */
  background-size: cover;
  /* background-color:#4BA5C7; */
}
p {
  color: white;
}
.bg {
  background-image: url(/src/Portfolio/assets/images/background/bg-6.jpg);
  background-size: cover;
}

.main-header-list-left img {
  padding-left: 50px;
  width: 150px;
  height: 70px;
}

.main-header-social-media {
  padding: 22px 0px;
  padding-left: 74%;
  /* display: inline; */
  /* display: flex; */
  /* display: grid; */
}
.main-header-social-media a {
  padding-left: 15px;
}

.fab {
  color: #9b9b9b !important;
  font-size: 22px !important;
}

.fab:hover {
  color: #28a745 !important;
  transition: 0.3s ease;
}
.menu {
  background-color: #a0988b47;
  padding: 8px;
}

.menu ul {
  display: inline;
}

.current a:link {
  color: #22b6af;
}

.menu li {
  display: inline;
  padding: 0px 20px;
}

.menu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.menu a:hover {
  color: #28a745;
  transition: 0.3s ease;
}
.menu a img {
  float: right;
  margin-top: -8px;
  height: 35p;
  width: 35px;
}
.wel-sec {
  width: 100%;
  background-image: url(/src/Portfolio/assets/images/background/bg-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  /* position: absolute; */
  padding: 205px 0px;
  text-align: center;
  justify-content: center;
  color: azure;
  /* transform: translate(-50%, -50%); */
  text-transform: uppercase;
}

/*   
@keyframes changeBackground {
    0% {
      background-image:url(/assets/images/background/bg-5.jpg)
    }
    20% {
      background-image: url(/assets/images/background/bg2.jpg);
    }
    40% {
        background-image: url(/assets/images/background/bg-6.jpg);
      }
      60% {
        background-image: url(/assets/images/background/bg-5.jpg);
      }
      80% {
        background-image: url(/assets/images/background/bg-8.jpg);
      }
    100% {
      background-image: url(/assets/images/background/bg-3.jpg);
    }
  }
   */
#mySection {
  animation: changeBackground 10s infinite;
  /* Other styling properties */
}

.wel-sec h1 {
  color: #fff;
  letter-spacing: 15px;
  font-size: 60px;
  margin-bottom: 20px;
}

.wel-sec h1 span {
  color: rgb(255, 255, 255);
}

.wel-sec span a {
  color: aliceblue;
  background-color: #7070e79e;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 17px;
}

.wel-sec a:hover {
  color: rgb(12, 12, 12) !important;
  background-color: rgb(255, 255, 255) !important;
  transform: scale(1.1);
  transition: 0.2s ease;
}

.wel-sec h1 {
  color: #fff;
  letter-spacing: 15px;
  font-size: 60px;
}

.about-sec {
  width: 100%;
  height: 600px;
  background-image: url(/src/Portfolio/assets/images/background/bg2.jpg);
  background-size: cover;
}

.about-sec-head {
  padding: 50px 0px 50px 50px;
  color: white;
}

.paragraph p {
  color: white;
  line-height: 1.8;
  font-size: 18px !important;
}

.paragraph {
  text-indent: 70px;
}

.see-work p {
  padding-top: 50px;
  text-align: center !important;
  align-items: center;
  color: white;
  margin-bottom: 0px !important;
}
.Scroll {
  text-align: center;
  align-items: center;
  color: whitesmoke;
}

.btn-success {
  border-top: none !important;
  padding: 10px 20px;
}

.Project-sec {
  padding-bottom: 38px;
}

.project-sec-head {
  padding: 50px 0px 0px 50px;
  color: white;
}
.Project-sec img {
  width: 100%;
}

.myproj {
  padding-bottom: 50px;
}

.myproj h1 {
  color: white;
  padding: 40px 0px 5px 0px !important;
}
.myproj a {
  float: right;
}

/**Resume**/
.resume {
  text-align: center;
  padding-bottom: 50px;
  color: white;
}
.resume h3 {
  padding-bottom: 10px !important;
}

.btn-primary {
  padding: 10px 20px;
}

/** Footer **/

.Footer-sec {
  background-image: url(/src/Portfolio/assets/images/background/bg-8.jpg);
  padding-bottom: 2px;
  background-size: cover;
  color: white;
  padding-top: 40px;
}

.Footer-sec a {
  color: white;
}
.Footer-sec li {
  padding-bottom: 5px;
  text-align: left;
}

.foot-logo-desc {
  padding-left: 50px !important;
}

.Foot-implinks li {
  padding-left: 50px;
}

.Footer-social-media {
  padding-top: 15px;
}

.Footer-social-media a {
  padding-right: 10px;
}

.copy-right {
  /* padding-top:100px; */
  text-align: center;
}

/** Footer-sec End**/
